<div class="modal fade help-modal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-2">
                      <i class="fa fa-check-circle-o"></i>
                  </div>
                  <div class="col-md-10">
                      <h2>How can TaskBloc help me<br> get things done?</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <hr>
                      <p>To-do lists are notorious for collecting junk: to-do items that you want to remember, but are not very important and thus get consistently put off. To address the problem of to-do list clutter, we have created TaskBloc.</p><br>
        
                      <p>TaskBloc will aim to keep to-do lists manageable by automatically deleting to-do items that have not been completed after seven days.</p><br>
                        
                      <p>The hypothesis is that if the to-do item is not important enough to be completed in seven days, it doesn't belong on your to-do list.</p><br>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>