/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//  @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');
 @import "font-awesome";

 $screen-lg: 1200px;
 $screen-md: 992px;
 $screen-sm: 768px;
 $screen-xs: 480px;

 $gray-darkest:      #222 !default;
 $gray-darker:       #333 !default;
 $gray-dark:         #555 !default;
 $gray-base:         #777 !default;
 $gray:              #ddd !default;
 $gray-light:        #eee !default;
 $gray-lighter:      #f1f1f1 !default;
 $gray-lightest:     #fafafa !default;

 $primary:         #4285F4 !default;
 $primary-dark:         #0d47a1 !default;
 $success-light:         #00C851 !default;
 $success:         #5cb85c !default;
 $success-dark:         #449d44 !default;
 $info:            #33b5e5 !default;
 $info-dark:            #0099CC !default;
 $warning:         #ffbb33 !default;
 $warning-dark:         #FF8800 !default;
 $danger:          #ff4444 !default;
 $danger-dark:          #CC0000 !default;

html, body {
  font-family: 'Lato', sans-serif;
  background: #ededed;
}
.navbar {
  background-color: #ddd;
}
a.navbar-brand {
  font-size: 1.5em;
  padding-left:20px;
  font-weight: 600;
  color: #4285F4;
}

.navbar .signUpBtn {
  background-color: transparent;
  border-radius: 0px;
  color: $success !important;
  transition: .25s ease-in;
  font-size: 1.1em;
  border: 1px solid $success;
}
.navbar .signUpBtn:hover {
  background-color: $success-dark;
  transition: .25s ease-out;
  color: #fff !important;

}
.navbar .signInBtn {
  background-color: $gray;
  border-radius: 0px;
  color: #fff !important;
  font-size: 1.1em;
  transition: .25s ease-in;
}
.navbar .signInBtn:hover {
  background-color: $gray-light;
  transition: .25s ease-out;

}
h1,h2,h3,h4,h5 {
  margin-top: 10px;
}
.navbar-toggle {
background-color: $gray;
}
#myNavbar.navbar-collapse.collapse.in {
  transition: .2s ease-in;
}
#myNavbar.navbar-collapse.collapse {
  transition: .2s ease-out;
  border-top: 2px solid $gray;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

.btn {
  transition: .25s ease-in;
  
}
.btn:hover {
  transition: .25s ease-out;
  cursor: pointer;
}
.navbar .fa-black-tie {
  color: #696969;
}
.formBox {
  margin: 10px 0;
}
// Custom Flash Alerts
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

 


// Back to top button styles
#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    left: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    left: 10px; /* padding from the left side of the window */
}
