/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//  @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');
 @import "font-awesome";

 $screen-lg: 1200px;
 $screen-md: 992px;
 $screen-sm: 768px;
 $screen-xs: 480px;

 $gray-darkest:      #222 !default;
 $gray-darker:       #333 !default;
 $gray-dark:         #555 !default;
 $gray-base:         #777 !default;
 $gray:              #ddd !default;
 $gray-light:        #eee !default;
 $gray-lighter:      #f1f1f1 !default;
 $gray-lightest:     #fafafa !default;

 $primary:         #428bca !default;
 $primary-dark:         #0d47a1 !default;
 $success-light:         #00C851 !default;
 $success:         #5cb85c !default;
 $success-dark:         #449d44 !default;
 $info:            #33b5e5 !default;
 $info-dark:            #0099CC !default;
 $warning:         #ffbb33 !default;
 $warning-dark:         #FF8800 !default;
 $danger:          #ff4444 !default;
 $danger-dark:          #CC0000 !default;

html, body {
  font-family: 'Lato', sans-serif;
  background: #ededed;
}
.viewBox {
  margin-top:74px;
}
.navbar {
  background-color: #ddd;
  box-shadow: 0 8px 15px -10px #2C3E50;
}
a.navbar-brand {
  font-size: 1.5em;
  padding-left:20px;
  font-weight: 600;
  color: #4285F4;
}

.navbar .signUpBtn {
  background-color: transparent;
  border-radius: 0px;
  color: $success !important;
  transition: .25s ease-in;
  font-size: 1.1em;
  border: 1px solid $success;
}
.navbar .signUpBtn:hover {
  background-color: $success-dark;
  transition: .25s ease-out;
  color: #fff !important;

}
.navbar .signInBtn {
  background-color: $gray;
  border-radius: 0px;
  color: #fff !important;
  font-size: 1.1em;
  transition: .25s ease-in;
}
.navbar .signInBtn:hover {
  background-color: $gray-light;
  transition: .25s ease-out;

}
h1,h2,h3,h4,h5 {
  margin-top: 10px;
}
.btn {
  border-radius:0;
}
.form-control {
  border-radius:0 !important;
}
.navbar-toggle {
background-color: $gray;
}
#myNavbar.navbar-collapse.collapse.in {
  transition: .2s ease-in;
}
#myNavbar.navbar-collapse.collapse {
  transition: .2s ease-out;
  border-top: 2px solid $gray;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar .gravatar {
  height:48px;
  width:auto;
}

.btn {
  transition: .25s ease-in;
  
}
.btn:hover {
  transition: .25s ease-out;
  cursor: pointer;
}
.navbar .fa-black-tie {
  color: #696969;
}
.formBox {
  margin: 10px 0;
}
// Custom Flash Alerts
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

// Back to top button styles
#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    left: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    left: 10px; /* padding from the left side of the window */
}

//Preset Shadow styles
$w: 15px; // shadow size
$color: #2C3E50;
$box_w: 4 * 40px;
$box_h: 3 * 40px;
$box-color: #16A085;
$label-color: #fff;
$bgcolor: #1ABC9C;
$text-color: #fff;
small {
  color: #fff !important;
}
//--------------------------------------------------------------------
// Shadow Specs
//--------------------------------------------------------------------

/*  CSS Spec:  | style | offset-x | offset-y | blur-radius | spread-radius | color */
$shadows: (               
	top          :            0          (-$w)       $w            (-$w)       $color,
  right        :            $w         0           $w            (-$w)       $color,
  bottom       :            0          $w          $w            (-$w)       $color,
  left         :            (-$w)      0           $w            (-$w)       $color,
  all          :            0          0           $w                        $color,
  inset-top    : inset      0          $w          $w            (-$w)       $color,
  inset-right  : inset      (-$w)      0           $w            (-$w)       $color,
  inset-bottom : inset      0          (-$w)       $w            (-$w)       $color,
  inset-left   : inset      $w         0           $w            (-$w)       $color,
  inset-all    : inset      0          0           $w                        $color,

  left-right       : (       (-$w) 0     $w (-$w) $color,       $w    0     $w (-$w) $color),
  top-bottom       : (       0     (-$w) $w (-$w) $color,       0     $w    $w (-$w) $color),
  inset-left-right : (inset  $w    0     $w (-$w) $color, inset (-$w) 0     $w (-$w) $color),
  inset-top-bottom : (inset  0     $w    $w (-$w) $color, inset 0     (-$w) $w (-$w) $color),
);

@each $k, $v in $shadows {
  .#{$k} {box-shadow:$v;}
}

// TOOLTIP CSS STYLES
// Classes to add to element:
// Tooltip width: t-xs: 80px || t-md: 140px || t-lg: 170px || t-xl: 200px
// Tooltip position: t-top: top || t-rigt: right || t-bottom: bottom || t-left: 200px
// Place text you wish to display in "data-tooltip" attribute.

// Example: <button class="t-top t-xl btn btn-success" data-tooltip="Top Tooltip">Extra Large sized tooltip. Position on top of this Element.</button>

// Example: <button class="t-left t-md btn btn-success" data-tooltip="Left Tooltip">Medium sized tooltip. Position to the left of this Element.</button>

//STYLES 

[data-tooltip] {
  position: relative;
  display: inline-block;
  cursor: pointer;
  /********** Tooltip Sizes **********/
  /********** Top Tooltip **********/
  /********** Right Tooltip **********/
  /********** Bottom Tooltip **********/
  /********** Left Tooltip **********/
}
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s cubic-bezier(0.5, 1, 0.25, 1);
  z-index: 1;
}
[data-tooltip]:before {
  padding: 5px;
  width: auto;
  border-radius: 3px;
  background: #606060;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
}
[data-tooltip]:after {
  border: 8px solid transparent;
  width: 0;
  content: "";
  font-size: 0;
  line-height: 0;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
[data-tooltip].t-xl:before {
  width: 200px;
  white-space:normal;
  height:auto;
}
[data-tooltip].t-lg:before {
  width: 170px;
  white-space:normal;
  height:auto;
}
[data-tooltip].t-md:before {
  width: 140px;
  white-space:normal;
  height:auto;
}
[data-tooltip].t-sm:before {
  width: 110px;
  white-space:normal;
  height:auto;
}
[data-tooltip].t-xs:before {
  width: 80px;
  white-space:normal;
  height:auto;
}
[data-tooltip].t-top:before {
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  transform: translateX(-50%);
}
[data-tooltip].t-top:after {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 8px solid #606060;
  border-bottom: none;
}
[data-tooltip].t-top:hover:before,
[data-tooltip].t-top:hover:after {
  transform: translateX(-50%) translateY(-5px);
}
[data-tooltip].t-right:before {
  top: 50%;
  left: 100%;
  margin-left: 5px;
  transform: translateY(-50%);
}
[data-tooltip].t-right:after {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-right: 8px solid #606060;
  border-left: none;
}
[data-tooltip].t-right:hover:before,
[data-tooltip].t-right:hover:after {
  transform: translateX(5px) translateY(-50%);
}
[data-tooltip].t-bottom:before {
  top: 100%;
  left: 50%;
  margin-top: 5px;
  transform: translateX(-50%);
}
[data-tooltip].t-bottom:after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 8px solid #606060;
  border-top: none;
}
[data-tooltip].t-bottom:hover:before,
[data-tooltip].t-bottom:hover:after {
  transform: translateX(-50%) translateY(5px);
}
[data-tooltip].t-left:before {
  top: 50%;
  right: 100%;
  margin-right: 5px;
  transform: translateY(-50%);
}
[data-tooltip].t-left:after {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-left: 8px solid #606060;
  border-right: none;
}
[data-tooltip].t-left:hover:before,
[data-tooltip].t-left:hover:after {
  transform: translateX(-5px) translateY(-50%);
}
