 $screen-lg: 1200px;
 $screen-md: 992px;
 $screen-sm: 768px;
 $screen-xs: 480px;

 $gray-darkest:      #222 !default;
 $gray-darker:       #333 !default;
 $gray-dark:         #555 !default;
 $gray-base:         #777 !default;
 $gray:              #ddd !default;
 $gray-light:        #eee !default;
 $gray-lighter:      #f1f1f1 !default;
 $gray-lightest:     #fafafa !default;

 $primary:         #428bca !default;
 $primary-dark:         #0d47a1 !default;
 $success-light:         #00C851 !default;
 $success:         #5cb85c !default;
 $success-dark:         #449d44 !default;
 $info:            #33b5e5 !default;
 $info-dark:            #0099CC !default;
 $warning:         #ffbb33 !default;
 $warning-dark:         #FF8800 !default;
 $danger:          #ff4444 !default;
 $danger-dark:          #CC0000 !default;
 
 // ********* DASHBOARD START********* //
    .dashboard {
        height: 100%;
        // padding: 0 !important;
    }
    .dashboard .wrapper {
        padding: 0;
        margin:0;
    }
 // SIDEBAR STYLES **************
  .dashboard .sidebar {
    padding: 10px 0px;  
    height: 100%;
    min-height: 100%;
    width:90px;
    border-right: 1px solid #ddd;
    background-color: #454545;
    position: fixed;
    top:64px;
    left:0;
    bottom:0;
    z-index:+2000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.dashboard .sidebar .divider {
    height:20px;
}

.dashboard .sidebar .sidebar-heading {
    width: 100%;
    margin: -10px 0 0px 0;
    padding: 10px 10px;
    background-color: #4B98DA;
    border: 1px solid #ccc;
    border-width: 0 0 3px 0;
}
 .dashboard .sidebar .sidebar-heading .profile-image {
    width:100%;
    float: left;
    text-align:center;
}
.dashboard .sidebar .sidebar-heading .profile-image img {
        box-shadow: 0 0 10px #707070;
        height:50px;
        width:auto;
}
.dashboard .sidebar .sidebar-heading .profile-image  .fa{
    font-size:3em;
    color: #fff;
}
 .dashboard .sidebar .sidebar-heading .profile-info {
    width:70%;
    float: left;
}
 .dashboard .sidebar .sidebar-heading .profile-info p{
    font-size: 1em;
    color: #fff;
}
.dashboard .sidebar .list-group {
    margin:0 !important;
}
  .dashboard .sidebar .list-group-item {
      border-color:rgba(199, 199, 199, .4);
      border-left:none;
      border-top:none;
      border-bottom:2px solid rgba(199, 199, 199, .4);
      border-radius:0px;
      background-color:#606060;
      color: #fff;
      font-size: 1em;
      transition: .2s ease-out;
      justify-content: center;
  }
  .dashboard .sidebar .list-group-item span {
      font-size:.65em;
      margin: 1px;
  }
  .dashboard .sidebar .list-group-item .fa {
      font-size:1.4em;
  }
  .dashboard .sidebar .list-group-item:hover {
      background-color: #505050;
      transition: .2s ease-in;
  }
  .dashboard .sidebar .list-group-item.active {
      background-color: #505050;
  }
 .dashboard .sidebar .list-group-item:first-child {
    border-top: 1px solid rgba(199, 199, 199, .4);
  }

  .dashboard .sidebar h3 {
      color: #fff;
      padding: 5px;
    //   border-bottom:1px solid #ddd;
  }
 .dashboard .sidebar .lower-links {
    position: absolute;
    bottom:80px;
    left:0;
 }
 
 .todayBox, .tomorrowBox, .upcomingBox {
     padding: 20px 5px;
    //  background-color: #fff;
    //  margin: 0 5px;
 }
 .box {
    background-color: white;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius:0 !important;
    border: 1px solid #dbd8d8;
    border-width: 1px 1px 1px 1px;
    // box-shadow: 0 2px 5px #ebebeb;
    box-shadow: inset 0 0 5px #bcbcbc;
    padding:10px;
    
 }
 .box h3 {
     color: #808080;
 }
 .dateTitle {
     font-size: .6em;
     color: $primary;
 }
 .addToDo {
  transition: all 0.5s ease-in-out;
  background: transparent !important;
  color: $success;
  border:2px solid $success !important;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  line-height: 1em;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 5px #bcbcbc;
  border-radius:0 !important;
  margin-top:15px;
}
@media(min-width:1000px) {
    .addToDo {
        top:80px;
        margin-top:0;
    }
}
.addToDo .line {
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 0%;
  height: 0.2em;
  background: $success-dark;
  bottom: 0;
  overflow: hidden;
  left: -1px;
  display: block;
  z-index: 10;
}
.addToDo:after {
  transition: all 0.5s ease-in-out;
  background: $success;
  color: #fff;
  height: 100%;
  width: 100.5%;
  content: "New ToDo";
  position: absolute;
  margin: auto;
  line-height: 2.5;
  text-align: center;
  top: -110%;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  left: -1px;
}
.addToDo:hover:after {
  top: -1px;
}
.addToDo:hover .line {
  width: 100%;
  background: $success-dark;
}
.addToDo:active:after {
  top: -1px;
  background: $success;
  content: "loading..";
}

     .dashboard .main-content {
        height: 100%;
        min-height: 100%;
        padding: 10px;
    }
    
    
    @media(min-width:1000px) {
        .dashboard .main-content {
        padding: 20px 60px 0 60px;
    }
    .itemsRow {
        margin-top:40px;
    }
    }