 $screen-lg: 1200px;
 $screen-md: 992px;
 $screen-sm: 768px;
 $screen-xs: 480px;

 $gray-darkest:      #222 !default;
 $gray-darker:       #333 !default;
 $gray-dark:         #555 !default;
 $gray-base:         #777 !default;
 $gray:              #ddd !default;
 $gray-light:        #eee !default;
 $gray-lighter:      #f1f1f1 !default;
 $gray-lightest:     #fafafa !default;

 $primary:         #428bca !default;
 $primary-dark:         #0d47a1 !default;
 $success-light:         #00C851 !default;
 $success:         #5cb85c !default;
 $success-dark:         #449d44 !default;
 $info:            #33b5e5 !default;
 $info-dark:            #0099CC !default;
 $warning:         #ffbb33 !default;
 $warning-dark:         #FF8800 !default;
 $danger:          #ff4444 !default;
 $danger-dark:          #CC0000 !default;

.itemCard {
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color:#fcfcfc !important;
    border-radius:0 !important;
}

.itemCard .card-block {
    padding: 0;
}
.itemCard .card-block .badge-pill{
        border-radius: 0 !important;
}
.itemCard .card-block .editIcon{
    position: absolute;
    right: 3px;
    top: 3px;
    opacity: .5;
    padding: 3px 5px;
    border-radius: 3px;
}

.itemCard-footer {
    margin: 0 0px -10px 0px;
}
.itemCard .card-block .editIcon:hover{
    background-color: $warning;
    opacity: .8;
}
.itemCard .card-block .card-title {
    font-size: 1.2em;
    margin-top: 2px !important;
    margin-bottom: 15px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.itemCard .card-block .card-title .cardIcon {
    font-size: .8em;
    color: $primary !important;
    text-shadow: none;
    opacity: .5;
}
.itemCard .card-block .card-title .cardIcon:hover {
    font-size: .8em;
    color: $primary !important;
    text-shadow: none;
    opacity: 1;
}
.itemCard .card-block .card-subtitle {
    font-size: .8em;
} 
#addItemModal label {
    display: none;
}

#addItemModal input {
    font-size: 1.7em;
}
.itemCard .card-block  a.btn{
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 3px 10px;
    background-color: #ddd;
    border-color: #dadada;
}
.itemCard .card-block  a.btn:hover {
    background-color: #398ADE;
}
#addItemModal .modal-footer {
    padding: 5px 10px;
    background-color: #696969;
    text-align: left;
}
#addItemModal .addItemBtn {
    font-size: 1.2em;
    border-radius: 0;
}
#addItemModal .modal-footer .btn {
    padding:4px;
        float: none;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 5px;
    left: 10px;
    border-radius: 0;
    border-right: 2px solid #696969;
    border-left: 2px solid #696969;
    border-top: 2px solid #696969;
}
#addItemModal .modal-footer .btn:hover {
      border-radius: 4px;
    border-right: 2px solid #E3534F;
    border-left: 2px solid #E3534F;
    border-top: 2px solid #E3534F;
}